Flask==2.3.3
Flask-CORS==4.0.0
Flask-SocketIO==5.3.6
python-socketio==5.9.0
eventlet==0.33.3
supabase==1.0.4
google-generativeai==0.7.2
gunicorn
requests==2.31.0
libclang==16.0.6
pygments==2.16.1
tree-sitter==0.20.4
tree-sitter-c==0.20.6
tree-sitter-cpp==0.20.3
setuptools==68.2.2
wheel==0.41.2
